* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  height: 90px;
  justify-content: space-between;

  padding: 0 40px;
  border-bottom: 3px dotted rgba(128, 128, 128, 0.354);
  align-items: center;
}
ul {
  list-style-type: none;
}
.nav-list {
  display: flex;
  gap: 30px;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 700;
}
.nav-list > li:not(.dropdown-container),
#pages {
  transition: all 0.3s ease;
}
.nav-list > li:not(.dropdown-container):hover,
#pages:hover {
  color: gray;
  cursor: pointer;
}
.dropdown-container {
  background-color: red;
  position: relative;
  cursor: pointer;
}
.dropdown {
  position: absolute;
  background-color: aliceblue;
  top: 200%;
  text-wrap: nowrap;
    transition: all 0.3s ease;
 visibility: hidden;
 opacity: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.372);
  /* opacity: 0; */
}

.dropdown-container:hover .dropdown {
 visibility: visible;
 opacity: 1;
 top: 100%;
}
.dropdown li{
    padding: 7px 15px;
    width: 170px;
    transition: all .3s ease ;
    border-top: 1px solid rgba(0, 0, 0, 0.194);
}
.dropdown li:hover{
    text-indent: 10px;
    background: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.345);
}



section{
  display: flex;
  height: 100vh;
  min-height: 500px;
padding: 20px;
gap: 20px;
}
section >div{
  width: 50%;
}
.left-section{
position: relative;display: flex;
justify-content: center;
/* align-items: center; */
padding-left:  80px;
flex-direction: column;
color: white;
gap: 20px;
}
.left-section img{
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
}
.left-section *:not(img){
  position: relative;
  z-index: 1;
}


.right-section{
  display: flex;
  gap: 20px;
  height: 100%;
}
.right-section >div{
  width: 50%;
  height: 100%;
    display: flex;
    gap: 20px;
  flex-direction: column;
}
.right-section >div >div{
  position: relative;
  height: 100%;
}
.right-section >div >div img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;z-index: -1;
}