*{
    padding: 0;
    margin: 0;
}


:root{
    --primary-color:rgb(2, 185, 185);

}
body{
    font-family:Roboto, Helvetica, sans-serif;
}
nav{
    
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0 60px;
}
#nav-image{
    height:40px ;
}

.navs{
    display: flex;
    list-style: none;
    gap: 40px;
    text-transform: capitalize;
    color: white;
    font-size: 1.2rem;
}

section{
background-image: url(https://templatemo.com/templates/templatemo_580_woox_travel/assets/images/banner-01.jpg);
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    color :white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 2rem;
}

div{
    width: 80%;
    height: 100px;
    background-color: white;
    border-radius: 100px;
}
button{
    background-color: transparent;
    color: var(--primary-color);
    font-size: 2rem;
    border: 2px solid var(--primary-color);
    padding:10px 20px ;
    border-radius:35px ;
}